

/* Media Queries */




/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
       

}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1{
        font-size: 2.5em;
    }
    header div.hero {
        width: 75%;
        top: 130px;
        left: 13%;
    }
    header div.hero h1{
        line-height: 2.8rem;
    }
    section.demo article {
        /* margin-right: 300px ; */
        padding: 0 10% ;
        height: 90vh;
        
    }
    header div.hero img {
        /* margin-right: 50%;
        margin-left: 37%; */
        /* margin-bottom: 100px; */
        height: 11rem; 
        /* width: 14rem; */
        /* border-radius: 0 0 40% 40% ; */
        /* margin-bottom: 100px; */
        /* border: 1px solid;
        padding: 10px; */
        /* box-shadow: 10px 20px #888888; */
    }
    
    
}






/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 


    h1{
        font-size: 2.3em;
    }


/* header */

    header div.hero {
        width: 75%;
        top: 130px;
        left: 13%;
    }
    header div.hero h1{
        line-height: 2.8rem;
    }

    header div.hero img {

        height: 11rem; 
        
    }


/* main */
section.main {
    margin-top: 10%;
    margin-bottom: 10px;
}

section.main aside div.content{
   background-size: 55px 55px;
   padding-top: 60px;
}



    /* Demo  */
    section.demo article {
        /* margin-right: 300px ; */
        padding: 0 10% ;
        /* height: 90vh; */
        
    }


    section.demo article video {
        width: 400px ;
         height: 300px;
    }

/* projects */

section.projects {
    margin-top: 10%;
    margin-bottom: 10px;
}

section.projects aside div.content{
   background-size: 55px 55px;
   padding-top: 60px;
}


}





/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 


    h1{
        font-size: 2em;
    }


/* header */

    header div.hero {
        width: 75%;
        top: 130px;
        left: 13%;
    }
    header div.hero h1{
        line-height: 2.5rem;
    }

    header div.hero img {
        
        height: 9rem; 
       
    }

    /* Demo  */
    section.demo article {
        /* margin-right: 300px ; */
        padding: 0 10% ;
        /* height: 90vh; */
        
    }


    section.demo article video {
        width: 400px ;
         height: 300px;
    }

/* main  */

section.main aside { 
    width: 100%;
  float: none;
  text-align: left;
}

section.main aside div.content {
    margin: 8px 20px 8px 0;
    padding: 5px 0px 10px 85px;
    background-size: 50px 50px;
    background-position: 20px 5px;
}
 


/* projects */
section.projects {
    height: 760px;
}
section.projects h2 {
    margin-left: 30%;
    color: #000;

}
section.projects aside { 
    width: 100%;
  float: none;
  text-align: left;
  margin: 40px;
}

section.projects aside div.content {
    margin: 2px 20px 10px 0;
    padding: 5px 0px 10px 85px;
    background-size: 50px 50px;
    background-position: 20px 5px;
}

section.projects aside div.content {
    width: 70%;
}
section.projects aside div.content a.btn{
background-color: grey;
color: #fff;
}



/* Skills */

section.skills {
    height: 1140px;
    background-color: #fff;
}

section.skills h2 {
    margin-left: 37%;
  
}


section.skills aside {
    width: 100%;
    float: none;
    margin: 0;
    position: relative;
    margin-top: 10px;

}

section.skills aside div.content {
    /* padding: 20px 20px 20px 150px; */
}

section.skills aside div.content p {
    font-size: .9em;
}


section.skills blockquote {
    margin: 50px 20px 0 40px;
    width: 90%;
    padding: 1px 0px 20px 0px;
    position: relative;
    height: 20%;
    border-top: #000 1px solid;
}

section.skills blockquote p.credit {
    margin-bottom: 0 ;
}

/* footer */
footer {
 left: 0;
  bottom: 0;
  width: 100%;
  background-color:#eee9d9;
}
footer div.icons {
    /* display: block; */
    margin-top: 15px;
}

footer div.icons a{
    margin: 0 20px 0 0; 
}

 }




 /* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    h1{
        font-size: 1.3em;
    }


/* header */

    header div.hero {
        width: 75%;
        top: 130px;
        left: 13%;
    }
    header div.hero h1{
        line-height: 2.2rem;
    }

    header div.hero img {
    
        height: 9rem; 
      
    }

    
    /* main  */
    
    section.main {
        height: 450px;
    }


    section.main aside { 
        width: 100%;
        float: none;
        text-align: left;
    }
    
    section.main aside div.content {
        margin: 8px 20px 8px 0;
        padding: 5px 0px 10px 85px;
        background-size: 50px 50px;
        background-position: 20px 5px;
    }
    
    
    /* Demo  */
    section.demo article {
        /* margin-right: 300px ; */
        padding: 0 9% ;
        /* height: 90vh; */
        
    }


    section.demo article video {
        width: 310px ;
         height: 250px;
         
    }

/* projects */

section.projects {
    height: 800px;
}
section.projects h2 {
    margin-left: 30%;
    color: #000;

}

section.projects aside { 
    width: 100%;
    float: none;
    text-align: left;
    margin: 40px;

}

section.projects aside div.content {
    margin: 8px 20px 8px 0;
    padding: 5px 0px 10px 85px;
    background-size: 50px 50px;
    background-position: 20px 5px;
}


section.projects aside div.content {
    width: 60%;
}
section.projects aside div.content a.btn{
background-color: grey;
color: #fff;
}








    /* Skills */
    
    section.skills {
    height: 1140px;
    background-color: #fff;
}

section.skills h2 {
    margin-left: 24%;
  
}


section.skills aside {
    width: 100%;
    float: none;
    margin: 0;
    position: relative;
    margin-top: 10px;

}

section.skills aside div.content {
    /* padding: 20px 20px 20px 150px; */
}

section.skills aside div.content p {
    font-size: .9em;
}



section.skills blockquote {
    margin: 50px 20px 0 40px;
    width: 90%;
    padding: 1px 0px 20px 0px;
    position: relative;
    height: 20%;
    border-top: #000 1px solid;
}

section.skills blockquote p.credit {
    margin-bottom: 0 ;
}

/* footer */
footer {
 left: 0;
  bottom: 0;
  width: 100%;
  background-color:#eee9d9;
}
footer div.icons {
    /* display: block; */
    margin-top: 15px;
}

footer div.icons a{
    margin: 0 20px 0 0; 
}


/* nav */

nav {
    position: static;
    /* left: 0; */
    /* bottom: 0; */
    width: auto;
    padding: 10px 58px;
    background-color: #4b0a0c;
    /* width: 100%; */
}

nav > ul > li.logo {

    display: none;
}

nav ul li.contact {
    display: none;

}


}